<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Tableau de bord</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./dashboard.css">
</head>
<body>
<div class="app-container">
  <div class="sidebar">
    <div class="sidebar-header">
    </div>
    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a href="#">
          <span>Accueil</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="app-content">
    <div class="app-content-header">
      <h1 class="app-content-headerText">Bienvenue</h1>
      <button class="mode-switch" title="Switch Theme">
      </button>
      <button class="app-content-headerButton">Ajouter</button>
    </div>
</body>
</html>
